{{ partial "header.html" . }}

{{if .Site.Params.cover}}
<header class="main-header tag-head" style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
{{else}}
<header class="main-header no-cover">
{{end}}

    {{ partial "navigation-header.html" . }}

    <div class="vertical">
        <div class="main-header-content inner">
            <div class="main-logo" style="background-image: url({{ .Site.Params.logo }});"></div>
        </div>
    </div>
</header>


<main id="content" class="content" role="main">

    {{ range .Data.Pages }}
        {{if eq .Type "index" }}
        <div class="index-content post">
        {{.Content}}
        </div>
        {{end}}
    {{ end }}

    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if isset .Site.Params "paginatedSections" }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedSections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "post" }}
        {{ end }}
    {{ end }}

    {{ $list := where .Data.Pages "Section" "in" ($.Scratch.Get "paginatedSections") }}
    {{ $list := where $list "Section" "!=" "" }}
    {{ $paginator := .Paginate ( $list ) }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>

    {{ range $index, $page := $paginator.Pages }}
        {{ partial "li.html" . }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}

</main>

{{ partial "footer.html" . }}
